<!DOCTYPE html>

<html>

<head>
    <title>Seats Bookings</title>
    <link rel="stylesheet" href="/css/styles.css">
  <h1>  {{title}} {{number}} {{temp}} {{temp2}} </h1>
    
</head>

<body>
    <div class="main-content">
        <p>Please Enter the number of seats you would like to book!</p>
        <form action="/get_seats" method="post" id="form">
            
            <input required type="number" name="seats" id="seats" placeholder="seats" min="1" max="7">

            <button type='submit'> Book now </button>
        </form>

        <p id="msg-1"> </p>
        <p id="msg-2"> </p>
        <br>
        <img class='portrait' src='./img/seats.jpg'
    </div>
    {{>footer}}
</body>

</html>